extends ../layouts/application.pug

block content
  a(href=route('newTask') class="nav-link")= t('views.tasks.createTask')
  .card
    .card-body.p-2.bg-light
      +formFor()(action=route('tasks') method='get')
        .row
          +filterSelect('status', statuses, 'name', t('views.tasks.status'))
          +filterSelect('executor', users, 'fullName', t('views.tasks.executor'))
          +filterSelect('label', labels, 'name', t('views.tasks.label'))
        +filterCheck('isCreatorUser', t('views.tasks.isCreatorUser'))
        +submit(filters)(value=t('views.tasks.submitFilter'))
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('task', { id: task.id }))= _.get(task, 'name', '')
          td= _.get(task, ['status', 'name'], '')
          td= _.get(task, ['creator', 'fullName'], '')
          td= _.get(task, ['executor', 'fullName'], '')
          td= formatDate(task.createdAt)
          td
            a(href=route('editTask', { id: `${task.id}` }))= t('layouts.application.edit')
            +buttonTo(route('deleteTask', { id: `${task.id}` }), 'delete')(class="btn btn-link" value=t('layouts.application.delete'))
